<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TypeMappings" type="System.Configuration.NameValueFileSectionHandler"/>
  </configSections>
  <TypeMappings>
    <add key="String" value="string"/>
    <add key="Color" value="string"/>
    <add key="Font" value="string"/>
    <add key="Boolean" value="bool"/>
    <add key="Integer" value="double"/>
    <add key="PositiveInteger" value="double"/>
    <add key="Number" value="double"/>
    <add key="Float" value="double"/>
    <add key="PositiveNumber" value="double"/>
    <add key="var" value="object"/>
    <add key="Object" value="object"/>
    <add key="File" value="object"/>
    <add key="undefined" value="object"/>
    <add key="Map" value="object"/>
    <add key="arguments" value="JsArguments"/>
    <add key="String[]" value="string[]"/>
    <add key="Array" value="JsArray"/>
    <add key="Function" value="Action&lt;object&gt;"/>
    <add key="FunctionListener" value="Action&lt;qx.eventx.type.Data&gt;"/>
    <add key="Error" value="JsError"/>
    <add key="Date" value="DateTime"/>
    <add key="RegExp" value="JsRegExp"/>
    <add key="element" value="Element"/>
    <add key="document" value="Document"/>
    <add key="Decorator" value="qx.html.Decorator"/>
    <add key="Element" value="qx.html.Element"/>
  </TypeMappings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>